.footer-second-row{
    display: flex;
    padding-top: 100px;
    width: 87vw;
    
    justify-content: space-between;
    padding-right: 600px;
}

.second-row div:nth-of-type(1){
    margin-left: -90px;
}

.second-row div:nth-of-type(2){
    margin-left: 1180px;
    
}

.footer-second-row div:nth-of-type(2) button{
    width: 80px;
    background-color: rgb(88,101,242);
    
    color: white;
}