.footer{

    display: grid;
    grid-template-columns:400px auto;
    grid-template-rows: repeat(2,auto);
    
    background-color: rgb(35,39,42);  
    height: 80vh;
    padding-top: 60px;
    padding-left: 130px;
}

.footer-1st-sec{
    grid-column:1/2;
    border: 1px solid black;
}

.footer-1st-sec > div:nth-of-type(1) >h1{
        color: rgb(88,101,242);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width:60%;
        
}

.footer-2nd-sec{
    grid-column:2/3;
    
}


 .first-col,.second-col,.third-col, .fourth-col{
    color: white !important;
   padding-left: 7%;

}


 
