.discord-layout-wrapper > div:nth-of-type(2){
    display: grid;
    grid-template-columns:repeat(2,1fr);
}

.discord-layout-wrapper > div:nth-of-type(2) .image{
    margin-top:160px;
    margin-left: 150px;
}

