

/* stylesheet for webpage*/

*{
    margin: 0;
    padding: 0;
    
}


body{
    background-color: rgb(255,255,255);
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;

    
}

svg{
color: white;
}

.discord-button{
    background-color: white;
    border: none;
    border-radius: 20px;
    font-weight:400 ;
    width: 120px;
    height: 40px;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 0.9rem;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}
li{
    margin-right: 50px;
    font-weight: bold;
    font-size: 0.9rem;
}

/* header-2 */

 p{
    font-size: large;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    font-family: 'Dosis', sans-serif;
}

.second h1,.third h1{
    font-size: 3rem;
    width: 70%;
    font-weight: bold;
}

/* header 3 */

#header-heading{
    font-weight: bolder;
    font-size: 3rem;
    font-family: 'Righteous', cursive;



}

#header-button{
    width: 40%;
    height: 50px;
    border-radius: 30px;
    font-size: large; 
    font-weight: lighter;
}


/*styles common for multiple sections */

.header-3 button:nth-of-type(1){
    margin-right: 10px;
}

.header-3 button:nth-of-type(2){
    margin-left: 10px;
    background-color: black;
    color: white;
}


.discord-layout-wrapper > div:nth-of-type(2) article,.third >div:nth-of-type(1){
    margin-top:200px;
    margin-left:100px;
    
}
.discord-layout-wrapper > div:nth-of-type(2) article{
    padding-bottom: 20%;
}


.article p,.third p{
    margin-top: 20px;
    width: 70%;
}